* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.box {
  width: 20rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.imageSection {
  height: 12rem;
  justify-content: center;
  display: flex;
  background-color: rgb(232, 237, 240);
  align-items: center;
}
.details {
  padding: 1rem;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.cardButton {
  letter-spacing: 1px;
  background-color: rgb(32, 92, 188);
  width:fit-content;
  color: white;
  border: transparent;
  padding: 8px;
  border-radius: 8px;

}
